.Form {
    padding:2rem 1rem;
    display:flex;
    justify-content: center;
}

.Form input[type=text] {
    border:none;
    border-bottom:1px solid white;
    outline: none;
    background: transparent;
    color:white;
    font-size:2rem;
}

.Form button {
    border:none;
    outline:none;
    color:white;
    background:#0e9ff3;
    border-radius: 0 10px 10px 0;
}